body {
    font-family: 'Ropa Sans', sans-serif;
    margin-top: 200px;
  }
  .hover-box {
    position: relative;
  }
  .hover-box *, .hover-box *:before, .hover-box *:after {
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .hover-box:before {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    content: '';
    background-color: #232323;
    opacity: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .hover-box .icons {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hover-box a {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .hover-box a i {
    font-size: 23px;
    line-height: 40px;
    width: 40px;
    background-color: #fff;
    color: #EB4960;
    border-radius: 2px;
  }
  .hover-box a i:hover {
    background-color: #EB4960;
    color: #fff;
    cursor: pointer;
  }
  .hover-box:hover:before, .hover-box.hover:before {
    opacity: 0.5;
  }
  .hover-box:hover a, .hover-box.hover a {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .hover-box:hover a:nth-child(2), .hover-box.hover a:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .hover-box:hover a:nth-child(3), .hover-box.hover a:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .hover-box:hover a:nth-child(4), .hover-box.hover a:nth-child(4) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }